* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  width: 100%;
  min-height: 100%;
}
body {
  font-family: 'Montserrat', arial, sans-serif;
  font-size: 14px;
  color: #333333;
}
header {
  width: 100%;
  padding: 25px 0 20px;
  text-align: center;
}
header img {
  display: inline-block;
}
.sliderCont {
  position: relative;
  overflow: hidden;
  max-width: 100%;
}
.sliderCont .slider {
  position: relative;
  width: 100%;
  left: 10%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.sliderCont .slider .sliderImgCont {
  display: inline-block;
  position: relative;
  height: 100%;
  width: 20%;
  text-align: center;
}
.sliderCont .slider .sliderImgCont img {
  height: 100%;
  width: 100%;
}
.sliderCont .slider .sliderImgCont .imgHeader {
  position: absolute;
  top: 25px;
  width: 100%;
}
.sliderCont .slider .sliderImgCont .imgHeader .modelNo {
  text-align: center;
  font-size: 1.3em;
}
.sliderCont .slider .sliderImgCont .imgHeader .modelName {
  text-align: center;
  font-size: 4em;
}
.sliderCont .sliderNav {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.sliderCont .sliderNav .navDotCont {
  display: inline-block;
}
.sliderCont .sliderNav .navDotCont .navDot {
  display: inline-block;
  padding: 13px 9px;
  font-size: 2em;
  color: #333333;
  opacity: 0.5;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.sliderCont .sliderNav .navDotCont .navDot:hover,
.sliderCont .sliderNav .navDotCont .navDot.active {
  opacity: 1.0;
}
.sliderCont .leftArrow,
.sliderCont .rightArrow {
  display: inline-block;
  position: absolute;
  top: 48%;
  left: 3%;
  padding: 5px;
  font-size: 2em;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.sliderCont .leftArrow:hover,
.sliderCont .rightArrow:hover,
.sliderCont .leftArrow.active,
.sliderCont .rightArrow.active {
  color: #ffffff;
}
.sliderCont .rightArrow {
  left: auto;
  right: 3%;
}
.buttonCont {
  width: 100%;
  padding: 17px 0;
  text-align: center;
}
.buttonCont button {
  display: inline-block;
  padding: 20px 35px;
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #ffffff;
  border: 2px solid #333333;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.buttonCont button:hover {
  background-color: #333333;
  color: #ffffff;
}
