.serifFontHeader {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  width: 100%;
  min-height: 100%;
}
body {
  font-family: 'Montserrat', arial, sans-serif;
  font-size: 14px;
  color: #333333;
}
header {
  width: 100%;
  padding: 25px 0 20px;
  text-align: center;
}
header img {
  display: inline-block;
}
[ng-cloak] {
  display: none;
  visibility: none;
}
.sliderCont {
  position: relative;
  overflow: hidden;
  max-width: 100%;
}
.sliderCont .slider {
  position: relative;
  width: 100%;
  left: 10%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.sliderCont .slider .sliderImgCont {
  display: inline-block;
  position: relative;
  height: 100%;
  width: 20%;
  text-align: center;
}
.sliderCont .slider .sliderImgCont img {
  height: 100%;
  width: 100%;
}
.sliderCont .slider .sliderImgCont .imgHeader {
  position: absolute;
  top: 25px;
  width: 100%;
  color: #ffffff;
}
.sliderCont .slider .sliderImgCont .imgHeader .modelNo {
  text-align: center;
  font-size: 1.3em;
}
.sliderCont .slider .sliderImgCont .imgHeader .modelName {
  text-align: center;
  position: relative;
  top: -10px;
  font-size: 5em;
  line-height: 1em;
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
}
.sliderCont .sliderNav {
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
}
.sliderCont .sliderNav .navDotCont {
  display: inline-block;
}
.sliderCont .sliderNav .navDotCont .navDot {
  display: inline-block;
  padding: 15px 10px;
  font-size: 1.3em;
  color: #ffffff;
  opacity: 0.5;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.sliderCont .sliderNav .navDotCont .navDot:hover,
.sliderCont .sliderNav .navDotCont .navDot.active {
  opacity: 1.0;
}
.sliderCont .leftArrow,
.sliderCont .rightArrow {
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 10%;
  text-align: center;
  font-size: 3em;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.sliderCont .leftArrow:hover,
.sliderCont .rightArrow:hover,
.sliderCont .leftArrow.active,
.sliderCont .rightArrow.active {
  background-color: rgba(255, 255, 255, 0.2);
}
.sliderCont .leftArrow .fa,
.sliderCont .rightArrow .fa {
  position: absolute;
  top: 48%;
}
.sliderCont .rightArrow {
  left: auto;
  right: 0;
  width: 9%;
}
.buttonCont {
  width: 100%;
  padding: 17px 0;
  text-align: center;
}
.buttonCont button {
  display: inline-block;
  padding: 20px 35px;
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #ffffff;
  border: 2px solid #333333;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.buttonCont button:hover {
  background-color: #333333;
  color: #ffffff;
}
.quickViewBack {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding-top: 9%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 40px #000000;
}
.quickViewBox {
  position: relative;
  display: inline-block;
  width: 83%;
  max-width: 860px;
  background-color: #ffffff;
}
.quickViewBox .images {
  display: inline-block;
  float: left;
  width: 69%;
  min-height: 100%;
}
.quickViewBox .images .mainImg {
  width: 100%;
  float: left;
  /*added to hide phantom space*/
}
.quickViewBox .images .thumbRow {
  width: 100%;
  overflow: hidden;
}
.quickViewBox .images .thumbRow .thumbCont {
  display: inline-block;
  width: 20%;
  float: left;
}
.quickViewBox .images .thumbRow img {
  display: block;
  width: 100%;
  cursor: pointer;
  /*TODO: CSS3 greyscale image filter*/
}
.quickViewBox .copy {
  display: inline-block;
  float: left;
  position: relative;
  width: 30%;
  min-height: 100%;
  padding: 20px 30px 30px 25px;
  text-align: left;
  background-color: #ffffff;
}
.quickViewBox .copy .model {
  margin-bottom: 20px;
  padding-right: 15px;
  font-size: 1.5em;
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
}
.quickViewBox .copy .descCopy {
  line-height: 1.3em;
  margin-bottom: 15px;
}
.quickViewBox .copy .specTitle {
  width: 100%;
  margin-bottom: 20px;
  font-weight: 700;
  color: #acacac;
  border-top: 1px solid #acacac;
}
.quickViewBox .copy .specRow {
  width: 100%;
  margin-bottom: 20px;
}
.quickViewBox .copy .specRow .specName {
  width: 100%;
  text-transform: uppercase;
}
.quickViewBox .copy .specRow .specName .spec {
  display: inline-block;
  float: right;
  font-weight: 700;
  text-align: right;
}
.quickViewBox .copy button.buyNow {
  width: 100%;
  padding: 20px 15px;
  text-align: center;
  font-size: 1.3em;
  font-weight: 700;
  color: #ffffff;
  background-color: #32b353;
  border: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.quickViewBox .copy button.buyNow:hover {
  background-color: #333333;
}
.quickViewBox .close {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 2.1em;
  color: #cccccc;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.quickViewBox .close:hover {
  color: #333333;
}
.quickViewBox:after {
  content: "";
  display: table;
  clear: both;
}
