
// VARIABLES
//=================

// Colors
//------------

@black:			#000;
@darkGrey:		#333; // font-color
@grey:			#888;
@lightGrey:		#acacac;
@lighterGrey:	#cccccc; // close X
@white:			#fff;

@missionGreen:	#32b353; // button color


// Typography
//-------------

@serifFonts:		'Playfair Display', serif;
@sansFonts:			'Montserrat', arial, sans-serif;

@textColor:			@darkGrey;
@baseFontSize: 		14px;


// Mixins
//-------------

.transition (@time: 0.3s) {
	-webkit-transition: all @time;
	transition: all @time;
}
.serifFontHeader {
	font-family: @serifFonts;
	font-weight: 900;
	font-style: italic;
	text-transform: uppercase;
}



// STYLES
//=================

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	width: 100%;
	min-height: 100%;
}
body {
	font-family: @sansFonts;
	font-size: 14px;
	color: @textColor;
}
header {
	width: 100%;
	padding: 30px 0 35px;
	text-align: center;

	img {
		display: inline-block;
		width: 50%;
	}

	@media (min-width: 768px) {
		padding: 25px 0 20px;

		img {
			width: auto;
		}
	}
}
[ng-cloak] {
	display: none;
	visibility: none;
}

.buttonCont {
	width: 100%;
	padding: 30px 0;
	text-align: center;

	button {
		display: inline-block;
		padding: 20px 35px;
		font-size: 1.3em;
		text-transform: uppercase;
		font-weight: 700;
		background-color: @white;
		border: 2px solid @textColor;
		.transition;

		&:hover {
			background-color: @textColor;
			color: @white;
		}
	}

	@media (min-width: 768px) {
		padding: 20px 0;
	}
}

@import "slider.less";
@import "quickview.less";
